##############################
##############################

## Folders                  ##

##############################

testMain
node_modules
build
dist

##############################

## Netbeans conf            ##

##############################