##############################
##############################

## Folders                  ##

##############################

testMain
node_modules

##############################

## Netbeans conf            ##

##############################